<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            text-align: center;
            margin-top: 7%;
            background-color: purple;
        }
        form{
            margin-top: 20px;
            background-color: white;
            margin-left: 150px; /* Adjust the left margin as needed */
            margin-right: 150px; /* Adjust the right margin as needed */
            
        }
        input-container  {
            padding-bottom: 20px; /* Adjust the padding as needed */
        }
    </style>  
</head>
<body>
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}   
        <h1>Login</h1>
        <div>
            <input type="text" id="username" name="username" placeholder="Username" style="color: grey;"><br><br>
        </div>
        
        <div>
            <input type="password" id="password" name="password" placeholder="Password" style="color: grey;" ><br><br>
        </div>

        <div class="input-container">
        <input type="submit" value="Login">
        <input type="reset" value="Cancel">
        </div>
        <br><br>
    </form>
</body>
</html>
