<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <style>
        body {
            text-align: center;
            margin-top: 7%;
            background-color: purple;
        }
        form{
            margin-top: 20px;
            background-color: white;
            margin-left: 150px; /* Adjust the left margin as needed */
            margin-right: 150px; /* Adjust the right margin as needed */
            
        }
        input-container  {
            padding-bottom: 20px; /* Adjust the padding as needed */
        }
    </style>    
</head>
<body>
    
    <div class="regiplace">
        
        <form method="post">
        {% csrf_token %}
        <h1>Registration</h1>
        <br>
        <div>
            <input type="text" id="name" name="name" placeholder="Name" style="color: grey;"><br><br>
        </div>
        
        <div>
            <input type="text" id="username" name="username" placeholder="Username" style="color: grey;"><br><br>
        </div>
        
        <div>
            <input type="password" id="password" name="password" placeholder="Password" style="color: grey;"><br><br>
        </div>
        
        <div>
            <input type="date" id="accrdat" name="accredat" placeholder="Account Created Date" style="color: grey;"><br><br>
        </div>
        
        <div>
            <input type="date" id="dob" name="dob" placeholder="Date of Birth" style="color: grey;" ><br><br>
        </div>
        
        <div class ="input-container">
        <a href="{% url 'login' %}"><input type="submit" value="Register"></a>
        <input type="reset" value="Cancel">
    </div>
    <br><br>
    </form>
</body>
</html>
